@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #141b08
}

/* Utilities */
@layer utilities {
  .glass {
    background: rgba(var(--background-start-rgb), 0.1);
    backdrop-filter: blur(6px);
  }
}

/* A neat table that display different rows with background colors and spacing inbetween */
/* Path: app\components\table.css */
@layer components {
   
  th {
    color:#1b6ec5;
    background: #000000;
    border-bottom:4px solid #9ea7af00;
    border-right: 1px solid #343a45;
    font-size:23px;
    font-weight: 900;
    padding:18px;
    text-align:left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
  }
   
  th:last-child {
    border-top-right-radius:3px;
    border-right:none;
  }
    
  tr {
    font-size:16px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
  }
   
  tr td:hover {
    background: #343a45;
    color:#1b6ec5;
    transition: all 0.3s ease;
  }
   
  tr:first-child {
    border-top:none;
  }
  
  tr:last-child {
    border-bottom:none;
  }
   
  tr:nth-child(odd) td {
    background: #141b08;
  }
   
  tr:nth-child(odd) td:hover {
    background: #343a45;
  }
  
  tr:last-child td:first-child {
    border-bottom-left-radius:3px;
  }
   
  tr:last-child td:last-child {
    border-bottom-right-radius:3px;
  }
   
  td {
    background:#000000;
    padding:16px;
    text-align:left;
    vertical-align:middle;
    font-weight:300;
    font-size:18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #1b6ec5;
  }
  td:hover {
    font-weight:800;
  }
  
  td:last-child {
    border-right: 0px;
  }
}
